[user]
	name = andelm
	email = Marc.vanAndel@kadaster.nl
[http]
 proxy = http://www-proxy.cs.kadaster.nl:8082
 sslVerify = false
 [http "http://github.so.kadaster.nl/"]
 proxy = ""
 [http "https://github.so.kadaster.nl/"]
 proxy = ""
 