[user]
	name = andelm
	email = Marc.vanAndel@kadaster.nl
[http]
proxy = http://ssl-proxy.cs.kadaster.nl:8080
[https]
proxy = http://ssl-proxy.cs.kadaster.nl:8080
[http "http://github.so.kadaster.nl/"]
 proxy = ""
