[user]
	name = andelm
	email = Marc.vanAndel@kadaster.nl
[http]
proxy = http://www-proxy.cs.kadaster.nl:8082
[https]
proxy = http://www-proxy.cs.kadaster.nl:8082
[http "http://github.so.kadaster.nl/"]
 proxy = ""
