# for direct github access (works untill artifactory is https also ...)
https-proxy = http://www-proxy.cs.kadaster.nl:8082/
proxy = null
registry = http://ota-portal.so.kadaster.nl/artifactory/api/npm/npm-registry

