_auth = <get from http://ota-portal.so.kadaster.nl/artifactory/webapp/#/home Set me up>
email = Marc.vanAndel@kadaster.nl
always-auth = true
https-proxy=http://www-proxy.cs.kadaster.nl:8082/
proxy=http://www-proxy.cs.kadaster.nl:8082/
registry=http://ota-portal.so.kadaster.nl/artifactory/api/npm/npm-registry/
